.user-profile-page {
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-avatar {
    max-width: 50px;
    height: auto;
    object-fit: cover;
}

.user-page-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
