
.pickem-all-container-div {
    width: 96.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.pickem-loading-ph {
    text-align: center;
}

.pickem-title-div {
    text-align: center;
}

.week-title {
    color: rgb(170, 170, 170);
}

.pickem-instruction-div {
    width: 670px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.pickem-all-games-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .pickem-single-game-div {
    border: 1px solid #ccc;
    padding: 10px;
  }


.pickem-team-logo {
    width: 50px;
    height: 50px;
}

.pickem-at-between-logos {
    text-align: center;
}


.main-commentlist-div {
    max-width: 70vw;
}

.pickem-single-game-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #136813;
    padding: 10px;
    border-radius: 10px;
}

.pickem-team-left,
.pickem-team-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;
    padding-left: 20px;
}

.pickem-team-right {
    margin-top: 10px;
}

.pickem-team-left {
    margin-bottom: 10px;
}


.pickem-game-details {
    flex-grow: 1;
    justify-content: left;
    margin-left: 20px;
    font-size: 14px;
}

.completed {
  border: 3px solid rgba(155, 15, 15, 0.356);
}

.current-pickem-pick-div {
    background-color: rgba(6, 104, 71, 0.527);
    border-radius: 10px;
}
